@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap'); 

* {
    box-sizing: border-box;
}

:root {
    --primary: #c18dc2;
    --black: #333333;
    --width-break:600px
}

body {
    margin: 0;
    font-family: 'Dancing Script', cursive;
    color: #333333;
    font-size: larger;
   background-color:rgb(243, 243, 234);
 
}

nav {
    background-color: var(--primary);
    text-align: center;
    font-size:3.5rem;
    padding: 1rem;

}

main {
    margin: auto;
    padding: 1rem;
    max-width: var(--width-break);
}

textarea {
    border: 1px solid var(--black);
    border-block-width: thick thick;
    
    display:block;
    width: 100%;
    min-height: 20vh;
    margin-top: 2rem;
    font-size: large;
    font-family: inherit;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

button {
    background-color: var(--primary);
    border: none;
    margin: 1rem 0rem;
    padding: 1rem 2rem;
    font-family: 'Kalam', cursive;
    font-size: large;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
}


#output {
    box-sizing: border-box;
    width: 100%;
    min-height: 20vh;
    max-height: 25vh;
    overflow:scroll;
    border: 1px solid var(--black);
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    border-block-width: thick thick;
    background-color: white;
    
}

footer {
    position: fixed;
    bottom:0;
    width: 100%;
    padding: 1rem;
    background-color: var(--primary);
    text-align: center;
    font-size: large;
}

footer p {
    max-width: var(--width-break);
    margin: auto;
}